<div ng-controller="mainCtrl">
<div class="heading">welcome to menufor.me</div>
pick a food to eat :)<br />
<div class="user"><div ng-show="authenticated==true">welcome, {{username}}!</div></div>
<button ng-click="get_lunch()">Pick lunch</button>
<button ng-click="get_weekly()" >Pick weekly menu</button><br />
Your lunch for today is<br>
<div ng-repeat="ingredient in recipe" style="float:left"><div style="float:left">{{ingredient}}</div> <div ng-show="!$last" style="float:left">, &nbsp;</div> </div>

<br>
<div ng-show="authenticated!=true">
<div class="login">
Username: <input type="text" id="username" />
Password: <input type="text" id="password" />
<button type="submit" ng-click="login()">Login</button>
</div>
</div>

<div ng-show="authenticated==true" id="add_window">
<button ng-click="show_add_window()">Add your recipe</button>
</div>

<div ng-show="authenticated==true">
<button ng-click="logout()">Logout</button>
</div>

<div id="add" style="display:none">
<input type="text" /><br>
<div class="controls">
<button ng-click="add_ingredient()">Add ingredient</button><br>
<button ng-click="add_meal()">Add meal</button>
</div>
</div>

</div>
